body {
      background-color: lightblue;
      }
      /* Responsive layout - makes images scale down when the page width changes*/
      @media (min-width: 1400px) {
      img {
      width: 18%;
      padding: 25px;
      height: auto;
      }
      }
      @media (max-width: 1400px) {
      img {
      width: 18%;
      padding: 25px;
      height: auto;
      }
      }
      @media (max-width: 916px) {
      img {
      width: 18%;
      padding: 20px;
      height: auto;
      }
      }
      @media (max-width: 630px) {
      img {
      width: 18%;
      padding: 10px;
      height: auto;
      }
      }
      @media (max-width: 487px) {
      img {
      width: 18%;
      padding: 5px;
      height: auto;
      }
      }
      @media (max-width: 201px) {
      img {
      width: 18%;
      padding: 3px;
      height: auto;
      }
      }
      table, th, td {
      border-collapse: collapse;
      border: 1px solid black;
      }